config.h
pcre2.h
pcre2_auto_possess.c
pcre2_chartables.c
pcre2_chkdint.c
pcre2_compile.c
pcre2_compile.h
pcre2_compile_cgroup.c
pcre2_compile_class.c
pcre2_config.c
pcre2_context.c
pcre2_convert.c
pcre2_dfa_match.c
pcre2_error.c
pcre2_extuni.c
pcre2_find_bracket.c
pcre2_internal.h
pcre2_intmodedep.h
pcre2_jit_char_inc.h
pcre2_jit_compile.c
pcre2_jit_match_inc.h
pcre2_jit_misc_inc.h
pcre2_jit_neon_inc.h
pcre2_jit_simd_inc.h
pcre2_maketables.c
pcre2_match.c
pcre2_match_data.c
pcre2_newline.c
pcre2_ord2utf.c
pcre2_pattern_info.c
pcre2_printint_inc.h
pcre2_script_run.c
pcre2_serialize.c
pcre2_string_utils.c
pcre2_study.c
pcre2_substitute.c
pcre2_substring.c
pcre2_tables.c
pcre2_ucd.c
pcre2_ucp.h
pcre2_ucptables_inc.h
pcre2_util.h
pcre2_valid_utf.c
pcre2_xclass.c
pcre2posix.h
